<div class="card">
    <div class="jumbtron mt-4 p-4">
        <h1 class="display-4">Notes app Notes and Mongodb</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum vero quam adipisci unde
            obcaecati quibusdam expedita, porro nisi labore facilis ducimus sunt voluptates officia laboriosam
            repellendus corporis ut dolore illum!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit vero obcaecati doloribus tempore amet
            consectetur ea laudantium, id est adipisci voluptatum, molestias illo nostrum qui odit reiciendis. Modi,
            esse dolore?</p>
        <a href="/" class="btn btn-primary">Enviar</a>
    </div>
</div>